[submodule "vim/pack/default/start/vim-airline-themes"]
	path = vim/pack/default/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/pack/default/start/vim-syntastic"]
	path = vim/pack/default/start/vim-syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/pack/default/start/vim-gitgutter"]
	path = vim/pack/default/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/pack/default/start/vim-airline"]
	path = vim/pack/default/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/default/start/vim-polyglot"]
	path = vim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/default/start/vim-ctrlp"]
	path = vim/pack/default/start/vim-ctrlp
	url = git@github.com:kien/ctrlp.vim.git
